body {
    background-color: white;
    margin: 3vw;

    display: flex;
    flex-direction: column;
    gap: 6vw;
}

iframe {
    width: 46vw;
    height: 46vw;
    border: none;
}

.container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1vw;
}

.module {
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding-bottom: 20px;

    width: auto;
    height: auto;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-self: stretch;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        gap: 100px;
    }
    iframe {
        width: 94vw;
        height: 94vw;
    }
}
